<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
</head>
<body>
   <table id="myTableId" dt:table="true" dt:url="'/persons'">
      <thead>
         <tr>
            <th dt:property="'id'">Id</th>
            <th dt:property="'firstName'">Firstname</th>
            <th dt:property="'lastName'">Lastname</th>
            <th dt:property="'address.town.name'">City</th>
            <th dt:property="'mail'">Mail</th>
         </tr>
      </thead>
   </table>
</body>
</html>