### Installation guide
<br />

<h4>Prerequisites</h4>
​
Java 6 or higher

<br />
<h4>Notes</h4>

<strong>Dandelion-DataTables</strong> takes advantage of the [Servlet API 3.x](http://jcp.org/en/jsr/detail?id=315) to ease its required configuration. In return, however, you have to use a Servlet container compatible with this API.

You\'ll have no trouble if you deploy on recent containers as Tomcat 7.x, Jetty 8.x, Glassfish 3.x or JBoss 7.x.

Actually, you\'ll have no trouble either with lower versions thanks to the [backward compatibility module](https://github.com/datatables4j/datatables4j-core-parent/tree/master/datatables4j-servlet2). :-)

The installation guide defers, depending on the template engine you want to use and the target container. Please begin by choosing below a template engine.

<br />

 * [With JSP](jsp.html)
 * [With Thymeleaf](thymeleaf.html)



