<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

   <mvc:annotation-driven />

   <context:component-scan base-package="com.github.dandelion.datatables.integration" />
   
   <mvc:default-servlet-handler />
   
   <bean id="templateResolver"
      class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
      <property name="prefix" value="/WEB-INF/templates/" />
      <property name="suffix" value=".html" />
      <property name="templateMode" value="HTML5" />
      <!-- Template cache is true by default. Set to false if you want -->
      <!-- templates to be automatically updated when modified. -->
      <property name="cacheable" value="false" />
   </bean>

   <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
      <property name="templateResolver" ref="templateResolver" />
      <property name="additionalDialects">
         <set>
            <bean
               class="com.github.dandelion.datatables.thymeleaf.dialect.DataTablesDialect" />
         </set>
      </property>
   </bean>

   <bean class="org.thymeleaf.spring3.view.ThymeleafViewResolver">
      <property name="templateEngine" ref="templateEngine" />
   </bean>
</beans>