<?xml version="1.0" encoding="UTF-8"?>
<configuration>

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss} %-5level %logger{100} - %msg%n
         </pattern>
      </encoder>
   </appender>

   <root level="INFO">
      <appender-ref ref="STDOUT" />
   </root>

   <logger name="com.github.dandelion" level="DEBUG" />
   <logger name="org.eclipe.jetty" level="INFO" />
   <logger name="org.springframework" level="INFO" />
   <logger name="org.apache.http" level="INFO" />

</configuration>
